:root{
    --main-color: #18dcff;
    --main-color1: rgb(24, 143, 255);
    --red: #ff3838;
    --orange: #ff9f1a;
    --white: #ffffff;
    --black: #000;
    --light-color: #f7f7f7;
    --light-background: rgba(211, 211, 211, 0.604);
    --border: 1px solid #656565;
    --light-gray: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --font-main: 'Segoe UI', Arial, sans-serif;
    --font-secondary: 'Georgia', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    min-height: 900px;
    background: url('/images/homepage/option-1.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.header {
    position: fixed;
    width: 100%;
    padding: 30px 70px;
    background: #ecf0fd;
    align-items: center;
    justify-content: space-between;
    display: flex;
    top: 0; left: 0;
    z-index: 100;
    border: 1px solid var(--black);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    
}


.homepage_logo {
    font-size: 30px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}

.homepage_logo:hover {
    color: var(--main-color1);
    transform: scale(1.1);
    cursor: pointer; 
}

.navbar a {
    font-size: 24px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar a:hover, .navbar a:focus {
    color: var(--main-color1);
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.blackboard {
    background-image: url('/images/homepage/board.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.blackboard h1, .blackboard p {
    color: white;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.blackboard h1 {
    font-size: 28px;
    top: 20%;
}

.blackboard p {
    top: 40%;
}


/* DISPLAY ALL THE COURSES SECTION */

.all-courses .courses-area {
    justify-content: center;
    gap: 22px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    align-items: flex-start; /* Aligns flex items along the cross axis of the current line of the flex container. */
    display:grid;
}

.all-courses .courses-area .course{
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px  8px -2px;
    transition: all 0.3s ease-in-out;
    padding: 32px;
    border-radius: 8px;
}

.all-courses .courses-area .course h2{
    list-style:inside;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding: 5px 0;
}

.courses-header{
    font-size: 32px;
    color: #284B63;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: #E3F2FD;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.all-courses .courses-area .courses img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.all-courses .courses-area .course .button {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
    padding: 15px 25px;
    margin-left: 25%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold; 
    transition: background-color 1s;
    font-size: 16px; /* Font size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
}

.all-courses .courses-area .course .button:hover, .course .button:focus {
    background-color: var(--main-color1);
    color: var(--white);
    transform: translateY(-2px); /* Slight lift effect */
    text-decoration: none;
}

.all-courses .courses-area .course .button:active {
    transform: translateY(1px); /* Press down effect */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* CUSTOMISING THE FOOTER SECTION */

.footer{
    background-color: var(--white);
    border-top: var(--border);
    color: var(--black);
    text-align: center;
    position: sticky;
    font-size: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 42px 32px;
    margin-top: 1000px;
    z-index:  999;
}

.footer span{
    color: var(--main-color);
    text-transform: uppercase;
}


/* Inspired by section  */

.all-items .items-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.all-items .item, .all-items .item {
    flex-basis: calc(33.333% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.all-items .item img, .all-items .item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.all-items .title {
    font-size: 22px;
    color: var(--white);
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
    background-color: #00000078;
}

















@media (max-width: 850px) {
    .blackboard h1, .blackboard p {
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    .blackboard h1 {
        font-size: 22px;
        top: 25%;
    }
    
    .blackboard p {
        top: 35%;
    }


}